body {
    background-image: url('stripes.png');
    max-width: 1800px;
    font-family: Roboto, Arial, Helvetica, sans-serif; 
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: white;
}
/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.dark {
    color: white;
    background-color: #282828;
    border-radius: 20px;
    position: relative;
    margin-left: 20px;
}

.bright {
    color: white;
    background-color: #0071bc;
    border-radius: 20px;
    position: relative;
    margin-left: 20px; 
}

.light-gray {
    color: white;
    background-color: gray;
    border-radius: 20px;
    position: relative;
    margin-left: 20px;

}
header ul {
    padding: 0;
    margin: 0;
}

.button_1{
    height: 35px;
    background: #c33d33;
    border:0;
    padding-left: 5px;
    padding-right: 5px;
    color: #ffffff;
}


@font-face {
    font-family: "basic title font";
    src: url("basictitlefont.ttf");
    }

/* Header */
header {
    color: #0071bc;
    padding-top:0;
    padding-bottom: 0px;
    height: 80%;
    max-width: 1800px;

}


header .navbar {
    margin-top: -60px;

}

header a{
    color: #0071bc;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    margin-top:0px;
}

header ul{
    margin-top: -10px;
    padding: 0 10px 0 0;
    position: top, right;
}

header li{
    display: inline-block;
    padding: 0 20px 0 20px;
    margin-top: -5px;

}
header .brand-logo{
    height: 100px;
    padding: 0px 0px 0px 30px;
    margin-top: -100px;
}

header #branding {
    float: left;
    
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 50px;
    
}

header .icon-bar {
    background-color: #003a68;
}

header .highlight, header .current a{
    color: #003a68;
    font-weight: bold;
}

header a:hover{
    color: #282828;
    font-weight: bold;
}

header span{
    position: center;
    margin-right: 70%;
}

#navbar .button{
    position:right;

}


/* Showcase */

#showcase {
    background:url('hdladiests2.png') 0 -300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 400px;
    max-width: 1800px;
    text-align: center;
    color: #ffffff;
    margin-top: 8em;

}



#showcase .container {
    display: block;
}

/* Newsletter */

#newsletter {
    margin-top: 20px;
    font-size: 12px;
    width: 100%;
    padding: 0 0 0 0;

}



form {
   float: left;
    margin-top: 0px;
    margin-left: 10%;
    
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

btn {
    font-size: 12px;
}

/* Boxes */


#boxes .box img{
    width: 400px;
    margin-left: 0%;
    padding: 0px;
}

#boxes .box {
    float: left;
    width: 33%;
    padding: 10px;
}



/* Footer */

footer {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
    background-color: #003a68;
    text-align: center;
    float: bottom;
}



/* About.html */



.accreditation {
   margin: 10px 0 10px 0;
   margin-top: 40px;
}

.values-statement {
    margin: 10px 10px 10px 0;
    margin-right: 15%;
    position: relative;
}

.spacer {
    padding: 2px;
}

/* Media Queries */
@media(max-width:768px){
    header #branding, 
    header nav,
    #newsletter form,
    #boxes .box{
        float:none;
        text-align: center;
        width: 100%;
        margin-top: 10px; 
    }

    header li{
        padding: 10px;
    }
  
    header .brand-logo{
        margin-left: 33%; 
        margin-top: 0px;
    }
    
    header nav{
        float: none;
        text-align: center;
        display: inline;
        padding: 5px;
        margin-left: 20px;
        
    }

    #showcase {
        margin-top: 10px;
        padding: 0px;
        min-height: 250px;
    }

    #newsletter button{
        display:inline-block;
        width: 100%;
        position: center;
    }

    #newsletter form input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }
    
   
    .box {
     align-content: center;
    }

   
}
